html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

button {
  outline: none;
  border: none;
  background: transparent;
}

.container {
  max-width: 1145px;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 30px;
}

.bg-orange {
  background: #C9453B;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  line-height: 24px;
  color: #fff;
}

.header {
  background: rgba(0, 0, 0, 0.3) url("./../images/header-bg.jpg") no-repeat center;
  background-size: cover;
  padding: 35px 0 244px 0;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.header__logo {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 6%;
  font-family: "Ribeye", cursive;
}
.header__nav-list {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.header__nav-list-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
.header__btn {
  display: block;
  width: 163px;
  padding: 14px 0 13px 0;
  text-align: center;
}
.header__btn:hover {
  opacity: 0.75;
  transition: opacity 0.32s linear;
}
.header__bottom {
  margin-top: 208px;
}
.header__bottom-title {
  width: 804px;
  margin-bottom: 30px;
  font-size: 65px;
  font-family: "Gelasio", serif;
  font-weight: 700;
  line-height: 78px;
  color: #fff;
}
.header__bottom-text {
  margin-bottom: 40px;
  max-width: 458px;
  font-size: 18px;
  line-height: 28.8px;
  color: rgba(255, 255, 255, 0.6);
}
.header__bottom-link {
  display: block;
  width: 187px;
  text-align: center;
  padding: 18px 0 17px 0;
}
.header__bottom-link:hover {
  opacity: 0.75;
  transition: opacity 0.32s linear;
}

/* Location styles */
.location {
  padding: 140px 0;
}
.location-subtitle {
  width: 735px;
}
.location__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 31px;
}
.location__block {
  max-width: 360px;
  text-align: center;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: 0.5s;
}
.location__block:first-child .location__block-text {
  padding: 0 27px 33px;
}
.location__block:nth-child(2) .location__block-text {
  padding: 0 34px 33px 37px;
}
.location__block:nth-child(3) .location__block-text {
  padding: 0 13px 33px;
}
.location__block:hover {
  box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.08);
}
.location__block-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 43px;
  font-family: "Gelasio", serif;
  font-weight: 500;
  line-height: 60.2px;
  color: #000;
  margin-top: 35px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 36px;
}
.location__block-text {
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  line-height: 28.8px;
  font-size: 18px;
  color: #000;
  opacity: 0.6;
}

.inner-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 43px;
  font-family: "Gelasio", serif;
  font-weight: 500;
  line-height: 60.2px;
  color: #000;
}
.inner-subtitle {
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  line-height: 28.8px;
  font-size: 18px;
  color: #000;
  opacity: 0.6;
  margin-bottom: 50px;
}

/* Section Slider */
.slider-subtitle {
  margin-bottom: 60px;
  width: 656px;
}

.sliders {
  display: flex;
  gap: 73px;
}
.sliders__block-wrapper {
  width: 262px;
}/*# sourceMappingURL=style.css.map */