@import '_reset';
$gelasio: 'Gelasio', serif;
$ribeye: 'Ribeye', cursive;
$roboto: 'Roboto', sans-serif;

body {
    font-family: $roboto;
    font-weight: 400;
    line-height: 30px;
}

.bg-orange {
    background: #C9453B;
    border-radius: 5px;
    color: inherit;
    font-size: 16px;
    cursor: pointer;
    line-height: 24px;
    color: #fff;
}

.header {
    background: rgba(0, 0, 0, 0.3) url("./../images/header-bg.jpg") no-repeat center;
    background-size: cover;
    padding: 35px 0 244px 0;
    &__container{
        max-width: 1145px;
        margin: 0 auto;  
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
    }

    &__logo {
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 6%;
        font-family: $ribeye;
    }

    &__nav-list {
        display: flex;
        justify-content: center;
        gap: 50px;
    }

    &__nav-list-link {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
    }

    &__btn {
        display: block;
        width: 163px;
        padding: 14px 0 13px 0;
        text-align: center;

        &:hover {
            opacity: 0.75;
            transition: opacity 0.32s linear;
        }
    }

    &__bottom {
        margin-top: 208px;
    }

    &__bottom-title {
        width: 804px;
        margin-bottom: 30px;
        font-size: 65px;
        font-family: $gelasio;
        font-weight: 700;
        line-height: 78px;
        color: #fff;
    }

    &__bottom-text {
        margin-bottom: 40px;
        max-width: 458px;
        font-size: 18px;
        line-height: 28.8px;
        color: rgba(255, 255, 255, 0.6);
    }

    &__bottom-link {
        display: block;
        width: 187px;
        text-align: center;
        padding: 18px 0 17px 0;
    }
}
